// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color: #542d68;


body {  
    color: $primary-color;
    margin: 0;
    background-color: #f7f7f7;
    text-align: center;
    widows: 100%;
}

nav{
    background-color: $primary-color;
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a:visited , a{
        color: #873f97;
        background-color: #ffffff;
        border-radius: 6px;
        margin-right: 20px;
    }
}
.apresentation{
    text-align: left;
    margin: 20px;
    font-size: 16px;
    text-decoration: underline;
}
h1{
    text-align: left;
    font-size: 25px;
    padding: 28px;
}
.header-table{
    margin: 30px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 3px 2px #ebebeb;
    padding: 25px;
}
.table{
    border-color:#f4f4f4 ; 
}
.btn-secondary, btn-danger{
    opacity: 0.5;
}
a:visited, a{
    color: #1f1f1f;
}

th{
    padding-right: 15px;
    border: none;
}
td{
    font-weight: normal;
}

.client-name{
    font-weight: bold;
}
.btn{
    color: #ffffff !important;
}

a:hover{
    color: #873f97;
    background-color: #f8f8f8;
    background-size: cover;
    cursor: pointer;
}
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.footer-copyright{
    background-color: #f4f4f4;
    color: #898989;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}